<section
  id="contacto"
  class="contacto"
>
  <h2 class="contacto__heading">Contacto</h2>

  <div class="contacto__formas">
    <div class="contacto__forma">
      <p><i class="bx bxs-envelope"> Email:</i> franco.silva.code@gmail.com</p>
    </div>
    <div class="contacto__forma">
      <p>
        <i class="bx bxl-linkedin-square">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/franco-silva77/"
            >Linkedin</a
          ></i
        >
      </p>
    </div>
    <div class="contacto__forma">
      <p>
        <i class="bx bxs-phone"> Telefóno:</i>
        <a href="tel:2491719236">291719236</a>
      </p>
    </div>
  </div>
</section>

<style>
  .contacto {
    padding: 2rem;
  }

  .contacto__heading {
    font-size: 3.6rem;
    text-align: center;
    margin: 1rem 0;
  }

  .contacto__formas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .contacto__forma {
    margin: 2rem 0;
    display: flex;
    align-items: center;
  }

  .contacto__forma p {
    font-size: 2.8rem;
    color: var(--blanco);
    text-align: center;
  }

  .contacto__forma a {
    color: var(--balnco);
  }
</style>
