<footer class="footer">
  <p class="footer__copiryght">Todos los derechos reservados &copy; Franco Silva</p>
</footer>

<style>
  .footer__copiryght {
    text-align: center;
    color: #fff;
    padding: 1rem;
  }
</style>