<section
  id="habilidades"
  class="habilidades section-center"
>
  <h2 class="habilidades__heading">Habilidades</h2>

  <div class="habilidades__grid">
    <img
      class="habilidad__imagen"
      src="/img/tools/html.svg"
      alt="Icono html"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/css.svg"
      alt="Icono css"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/sass.svg"
      alt="Icono sass"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/js.svg"
      alt="Icono js"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/php.svg"
      alt="Icono php"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/laravel.svg"
      alt="Icono laravel"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/react.svg"
      alt="Icono react"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/vue.svg"
      alt="Icono vue"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/node.svg"
      alt="Icono node"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/mysql.svg"
      alt="Icono mysql"
    />
    <img
      class="habilidad__imagen"
      src="/img/tools/git.svg"
      alt="Icono git"
    />
  </div>
</section>

<style>
  .habilidades {
    margin-top: 5rem;
  }
  
  .habilidades__heading {
    font-size: 3.6rem;
    text-align: center;
    margin: 3rem 0 5rem 0;
  }

  .habilidades__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
  }

  @media (min-width: 768px) {
    .habilidades__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }

  .habilidad__imagen {
    width: 7rem;
  }
</style>
