---
import Proyecto from "./Proyecto.astro";

import proyecto_1 from "/img/01-cotizador-prestamos-react.png";
import proyecto_2 from "/img/02-planificador-gastos-react.png";
import proyecto_3 from "/img/03-buscador-de-bebidas.png";
import proyecto_4 from "/img/04-cotizador-de-seguros.png";
---

<section class="proyectos contenedor" id="proyectos">
  <h2 class="proyectos__heading">Proyectos</h2>
  <div class="proyectos__grid">
    <Proyecto
      titulo="Cotizador de prestamos"
      descripcion=""
      imagen={proyecto_1}
      enlace=""
    />
    <Proyecto
      titulo="Planificador de gastos"
      descripcion=""
      imagen={proyecto_2}
      enlace=""
    />
    <Proyecto
      titulo="Buscador de Bebidas"
      descripcion=""
      imagen={proyecto_3}
      enlace=""
    />
    <Proyecto
      titulo="Cotizador de seguros"
      descripcion=""
      imagen={proyecto_4}
      enlace=""
    />
  </div>
</section>

<style>
  .proyectos__heading {
    font-size: 3.6rem;
    text-align: center;
    margin: 3rem 0;
  }
  
  .proyectos__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  
  @media (min-width: 768px){
    .proyectos__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
